---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import YoutubeVideo from '~/components/common/YoutubeVideo.astro';

import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'UT Dallas Rugby',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Wanna Play?"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Contact',
        href: getPermalink('/contact'),
        // icon: 'tabler:download',
      },
      { text: 'Schedule', href: '/schedule' },
    ]}
  >
    <Fragment slot="title"> UT Dallas Rugby </Fragment>

    <Fragment slot="subtitle"> </Fragment>

    <Fragment slot="image">
      <YoutubeVideo videoId="J-Qkl8OfXxw" title="Join UTD Rugby" />
    </Fragment>
  </Hero>

  <!-- Features2 Widget ************** -->

  <Features2
    title="About us"
    subtitle="Welcoming players of all skill levels who are interested in trying out the greatest sport there is."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->

  <!-- <Stats -->
  <!--   title="Discover the impressive impact of Astrowind" -->
  <!--   subtitle="The numbers below reflect the trust our users have placed in us and the remarkable outcomes we've helped them achieve." -->
  <!--   stats={[ -->
  <!--     { title: 'Downloads', amount: '182K' }, -->
  <!--     { title: 'Websites Launched', amount: '87' }, -->
  <!--     { title: 'User Ratings', amount: '4.8' }, -->
  <!--     { title: 'Satisfied Clients', amount: '116K' }, -->
  <!--   ]} -->
  <!-- /> -->

  <!-- Brands Widget ****************** -->

  <Brands
    title="Sponsors"
    subtitle=""
    icons={[]}
    images={[
      {
        src: 'https://static.spotapps.co/website_images/ab_websites/184260_website_v1/logo_v1.png',
        alt: 'Northside Draft House',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="What services do we provide?"
    subtitle="We offer a wide range of website templates that suit various industries and purposes such as business, portfolio, e-commerce, blog, etc."
    items={[
      {
        title: 'Installation Instructions',
        description:
          'Offer clear instructions on how to download the purchased templates and install them on various website platforms or content management systems.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Demo and Previews',
        description:
          'Provide interactive demos and previews that allow customers to see how their chosen template will look and function before making a purchase.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Technical Support',
        description:
          'Providing customer support for any technical issues related to the templates or their implementation.',
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'When and where?',
        description: 'UTD Rugby trains at the UTD Soccer field 5 every Tuesday and Thursday night from 8-10PM',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Features3 Widget ************** -->

  <Features3
    title="Let us know how we can help"
    subtitle="We’re here to help and answer any question you might have."
    columns={3}
    items={[
      {
        title: 'Instagram',
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: 'Message us',
          href: 'https://www.instagram.com/utd_rugby/',
          variant: 'link',
        },
      },
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'Write to us',
          href: 'mailto:utdmensrugby@gmail.com',
          variant: 'link',
        },
      },
      {
        title: 'Discord',
        icon: 'tabler:brand-discord',
        callToAction: {
          target: '_blank',
          text: 'Join us',
          // TODO Get a fresh invite link
          href: 'https://discord.gg/bTvVSACFzX',
          variant: 'link',
        },
      },
    ]}
  />
</Layout>
